html {
  box-sizing: border-box;
  font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma,
    Sans-Serif;
  font-weight: normal;
  color: #272727;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

iframe {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
  font-size: 1.5em;
}

img {
  border-radius: 75%;
}

.codepen {
  display: grid;
  grid-template-rows: auto 1fr 1fr auto;
  height: 100vh;
}

.pen {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: column;
  gap: 10px;
  align-items: center;
}
